h1 {
  font size: 10px;
}
body{
  background-color: Gold;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;

}
img{
  height: 300px;
  width: 500px;
}
td{
  font-size: 35px;
}
